@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>The best About Us pages share the company and founders’ stories. It’s a chance to pull back the curtain on the business and showcase the people who make it happen.</p>
</main>